<h1>Edit Incident <%= @incident.omg_title %></h1>
<p>&nbsp;</p>
<%= form_with model: @incident, url: incident_path, local: true do |form| %>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            OMG ID:
        </div>
        <div class="form-group col-md-10">
            <%= @incident.omg_id %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            OMG Title:
        </div>
        <div class="form-group col-md-10">
            <%= text_field_tag(:omg_title, @incident.omg_title, class: "form-control", required: true) %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Drill Tester Email:
        </div>
        <div class="form-group col-md-10">
            <%= text_field_tag(:drill_tester_email, @incident.drill_tester_email, class: "form-control") %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Workspace Bugs:
        </div>
        <div class="form-group col-md-10">
            <%= text_field_tag(:workspace_bugs, @incident.workspace_bugs, class: "form-control") %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            GCP Bugs:
        </div>
        <div class="form-group col-md-10">
            <%= text_field_tag(:gcp_bugs, @incident.gcp_bugs, class: "form-control") %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Description:
        </div>
        <div class="form-group col-md-10">
            <%= text_area_tag(:description, @incident.description, class: "form-control") %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Top Strategic Impacted Customers:
        </div>
        <div class="form-group col-md-10">
            <%= text_area_tag(:impacted_customers, @incident.impacted_customers, class: "form-control") %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Status Color:
        </div>
        <div class="form-group col-md-10">
            <% statuses = [
                ["Green:\nNo media cycle or \n<25% of impacted strategic customers escalate or \n<20% of support cases are P1", "green"],
                ["Yellow:\nNo media cycle or \n25% - 50% of impacted strategic customers escalate or \n20% - 50% support cases are P1", "yellow"],
                ["Red:\nMedia cycle occurred or \n>50% of impacted strategic customers escalate or\n>50% support cases are P1", "red"]
            ] %>
            <%= select_tag(:color, options_for_select(statuses, @incident.color), class: "form-control") %>
        </div>
    </div>

    <div align="right">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
<% end %>