<%= render 'incidents/dialogs' %>
<% column_list = %w(omg_id omg_title drill_tester_email workspace_bugs gcp_bugs description impacted_customers color) %>
<div class="wrapper">
  <div class="box a">
    <h1>Incident <%= @incident.omg_title %> &nbsp; &nbsp; <%= link_to "Edit", edit_incident_path, class: "btn btn-primary" %></h1>
    <p>&nbsp;</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <td width="30%" align="right"><b>Key</b></td>
          <td><b>Value</b></td>
        </tr>
      </thead>
      <% column_list.each do |n| %>
        <tr>
          <%= content_tag(:td, n.to_s.titleize(keep_id_suffix: true), align: :right) %>
          <%= content_tag(:td, @incident.send(n)) %>
        </tr>
      <% end %>
      <tr>
        <td align="right">PagerDuty Incident</td>
        <td>
          <% if @incident.pd_incident_id.nil? %>
            <%= form_tag create_pd_incident_path(@incident) do %>
              <%= select_tag 'service_id', options_for_select(@services.map { |s| [s['summary'], s['id']]}), class: "form-control" %>
              <%= submit_tag "Create", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "View", @incident.pd_incident_url, class: "btn btn-primary", target: "_blank" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="box b">
    <% if not @incident.pd_incident_id.nil? %>
      <div class="card">
        <div class="card-header">
          Responders
        </div>
        <div class="card-body" align="center">
          <h1>
            <%= @pd_incident['incident']['incidents_responders'] ? @pd_incident['incident']['incidents_responders'].count : 0%>
          </h1>
          responders added
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#respondersModal">
            Add Responders...
          </button>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="card">
        <div class="card-header">
          Subscribers
        </div>
        <div class="card-body" align="center">
          <h1>
            <%= @subscribers.count %>
          </h1>
          subscribers added
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribersModal">
            Add Subscribers...
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box c">
    <% if not @incident.pd_incident_id.nil? %>
      <div class="card">
        <div class="card-header">
          Response Plays
        </div>
        <div class="card-body" align="center">
          <h1>
            <%= @response_plays.count%>
          </h1>
          plays available
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#responsePlayModal">
            Run a Response Play...
          </button>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="card">
        <div class="card-header">
          Status Updates
        </div>
        <div class="card-body" align="center">
          <h1>
            <%= @incident.activities.select { |a| a.description == "Sent status update" }.count %>
          </h1>
          status updates sent
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
            Preview Message...
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box d">
    <h2>Activities</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Description</th>
        </tr>
      </thead>
      <% @incident.activities.each do |a| %>
        <tr>
          <td><%= a.created_at %></td>
          <td><%= a.description %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
