<%= render 'incidents/dialogs' %>
<h1>Incident <%= @incident.omg_title %></h1>
<p>&nbsp;</p>
<% column_list = %w(omg_id omg_title drill_tester_email workspace_bugs gcp_bugs) %>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <td width="30%" align="right"><b>Key</b></td>
          <td><b>Value</b></td>
        </tr>
      </thead>
      <% column_list.each do |n| %>
        <tr>
          <%= content_tag(:td, n, align: :right) %>
          <%= content_tag(:td, @incident.send(n)) %>
        </tr>
      <% end %>
      <tr>
        <td align="right">PagerDuty Incident</td>
        <td>
          <% if @incident.pd_incident_id.nil? %>
            <%= form_tag create_pd_incident_path(@incident) do %>
              <%= select_tag 'service_id', options_for_select(@services.map { |s| [s['summary'], s['id']]}), class: "form-control" %>
              <%= submit_tag "Create", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "View", @incident.pd_incident_url, class: "btn btn-primary", target: "_blank" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <% if not @incident.pd_incident_id.nil? %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#respondersModal">
        Add Responders...
      </button>
      <p>&nbsp;</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribersModal">
        Add Subscribers...
      </button>
    <% end %>
  </div>
</div>
<h2>Activities</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Description</th>
    </tr>
  </thead>
  <% @incident.activities.each do |a| %>
    <tr>
      <td><%= a.created_at %></td>
      <td><%= a.description %></td>
    </tr>
  <% end %>
</table>