<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q==" crossorigin="anonymous"></script>
<h1>Edit Template</h1>
<p>&nbsp;</p>
<%= form_with model: @message_template, url: message_template_path, local: true do |form| %>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Name:
        </div>
        <div class="form-group col-md-10">
            <%= text_field_tag(:name, @message_template.name, class: "form-control", required: true) %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            SMS/Push Template:
        </div>
        <div class="form-group col-md-10">
            <div style="height: 2rem;" id="short-text-editor"><%= @message_template.short_text %></div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2" align="right">
            Email Template:
        </div>
        <div class="form-group col-md-10">
            <div style="height: 30rem;" id="text-editor"><%= @message_template.text %></div>
        </div>
    </div>

    <textarea name="text" style="display: none;"></textarea>
    <textarea name="short_text" style="display: none;"></textarea>
    <div align="right">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
<% end %>
<script>
$(() => {
    var editor = ace.edit("text-editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/html_ruby");
    var textarea = $('textarea[name="text"]');
    editor.getSession().on("change", function () {
        textarea.val(editor.getSession().getValue());
    });

    var short_editor = ace.edit("short-text-editor");
    short_editor.setTheme("ace/theme/monokai");
    short_editor.session.setMode("ace/mode/html_ruby");
    var short_textarea = $('textarea[name="short_text"]');
    short_editor.getSession().on("change", function () {
        short_textarea.val(short_editor.getSession().getValue());
    });
})
</script>
